#wrapper {
    display: flex;
    width: 100%;
}

.bg-sidetab {
    background-color: #343a40;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    background-color: #343a40;
    min-height: 100vh;
    transition: margin 0.25s ease-out;
    overflow-y: auto;
}

#sidebar-wrapper .sidebar-heading {
    font-size: 1.5rem;
    color: #fff;
    display: block;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}

/* Page content wrapper */
#page-content-wrapper {
    flex: 1;
}
#page-content-wrapper .navbar{
    padding: 0.7rem 0;
}
/* When toggled, hide the sidebar */
#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}

.close-tab {
    display: none !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -250px;
        position: fixed;
        z-index: 10;
    }

    .close-tab {
        display: flex;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }
}
