#wrapper {
    display: flex;
    width: 100%;
}

.bg-sidetab {
    background-color: #343a40;
}

.nav-title {
    padding: 0.5rem 1rem;
    color: #c6c6c6;
}

.nav-title:not(:first-child) {
    margin-top: 1rem;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    background-color: #343a40;
    min-height: 100vh;
    transition: margin 0.25s ease-out;
    overflow-y: auto;
}

#sidebar-wrapper .sidebar-heading {
    font-size: 1.5rem;
    color: #fff;
    display: block;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}

#sidebar-wrapper ul.nav {
    padding: 0;
    list-style: none;
}

#sidebar-wrapper ul.nav li.nav-item a.nav-link {
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
}

#sidebar-wrapper ul.nav li.nav-item a.nav-link:hover,
#sidebar-wrapper ul.nav li.nav-item a.nav-link.active {
    background-color: #495057;
}
/* Page content wrapper */
#page-content-wrapper {
    flex: 1;
}
#page-content-wrapper .navbar{
    padding: 0.875rem 0;
}
/* When toggled, hide the sidebar */
#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}
/* Responsive adjustments */
@media (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }
}
