@using Microsoft.AspNetCore.Identity
@using BusinessLayer.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var displayName = user?.Name ?? User.Identity?.Name;
    var profilePhoto = user?.Photo;
}

<style>
    #sidebar-wrapper ul.nav {
        padding: 0;
        list-style: none;
    }

    #sidebar-wrapper ul.nav li.nav-item a.nav-link {
        padding: 0.75rem 1rem;
        display: flex;
        align-items: center;
    }

    #sidebar-wrapper ul.nav li.nav-item a.nav-link:hover,
    #sidebar-wrapper ul.nav li.nav-item a.nav-link.active {
        background-color: #495057;
    }

    .nav-title {
        padding: 0.5rem 1rem;
        color: #c6c6c6;
    }

    .nav-title:not(:first-child) {
        margin-top: 1rem;
    }
</style>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="@profilePhoto" alt="@displayName" class="rounded-circle" style="width: 30px; height: 30px; object-fit: cover; margin-right: 5px;" />
                <span>Hi, @displayName</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown" style="position: absolute">
                <li class="nav-item">
                    <a class="dropdown-item" asp-controller="User" asp-action="Profile">Profile</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Index">Admin dashboard</a>
                    </li>
                }
                <li class="nav-item">
                    <form class="form-inline" asp-controller="Auth" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item btn btn-link text-dark" style="border-radius:0;">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn btn-outline-primary ms-2 me-3 text-dark" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-primary text-light" asp-controller="Auth" asp-action="Register">Get started for free</a>
        </li>
    }
</ul>
