@using BusinessLayer.Interfaces
@inject IUnitOfWork UnitOfWork
@{
	var groups = UnitOfWork.Groups.GetAllWithTools();
}

@foreach (var group in groups)
{
    <li class="nav-title">@group.GroupName</li>

    @if (group.Tools != null && group.Tools.Any())
    {
        foreach (var tool in group.Tools)
        {
            @if (!tool.IsDisabled)
            {
                <li class="nav-item">
                    <a style="position: relative" class="nav-link text-white" href="@Url.Action("Index", "Tools", new { id = tool.ToolId })">
                        @tool.Name
                        @if (tool.IsPremium)
                        {
                            <img src="/crown.png" alt="Premium" style="height: 16px; width: auto; position: absolute; top: 0.5rem; right: 0.5rem;" />

                        }
                    </a>
                </li>
            }
        }
    }
}
