@using BusinessLayer.Interfaces
@inject IUnitOfWork UnitOfWork
@{
	var groups = UnitOfWork.Groups.GetAllWithTools();
}

@foreach (var group in groups)
{
    <li class="nav-title">@group.GroupName</li>

    @if (group.Tools != null && group.Tools.Any())
    {
        foreach (var tool in group.Tools)
        {
            @if (!tool.IsDisabled)
            {
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Index", "Tools", new { id = tool.ToolId })">
                        @tool.Name
                    </a>
                </li>
            }
        }
    }
}
