<div class="container d-flex justify-content-center">
    <div class="card text-center p-4" style="width: 30rem;">
        <div class="card-header bg-danger text-white">
            <h2>Access Denied</h2>
        </div>
        <div class="card-body">
            <h4 class="card-title">You do not have permission to view this page.</h4>
            <p class="card-text">Only users with the Admin role are allowed to access this page.</p>
            <a href="/" class="btn btn-primary">Go to Home</a>
        </div>
    </div>
</div>

