@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-center bg-light py-5">
    <h1 class="display-4">Welcome to IT-Tools</h1>
    <p class="lead">Your all-in-one toolbox for everyday IT tasks — fast, free, and accessible from anywhere.</p>
    <hr class="my-4">
    <p>Explore a wide range of developer-friendly tools including JSON formatter, Base64 encoder/decoder, hash generators, UUID generators, text diff tools, and more.</p>
</div>


<div id="tools" class="container mt-5">
    <div class="row">
        @foreach (var tool in Model)
        {
            <a class="btn-light btn col-6 col-lg-4 col-xl-3 mb-4" style="text-align: left; background-color: transparent; border: none;" href="@Url.Action("Index", "Tools", new { id = tool.ToolId })">
                <div class="card shadow-sm" style="height: 8rem; position: relative">
                    @if (tool.IsPremium)
                    {
                        <img src="/crown.png" alt="Premium" style="height: 20px; width: auto; position: absolute; top: 0.5rem; right: 0.5rem;" />
                        
                    }
                    <div class="card-body">
                        <h5 class="card-title line-2">@tool.Name</h5>
                        <p class="card-text line-2">@tool.Description</p>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
